@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

/* 4сеция */

.section__four {
  margin: 0 auto;
  margin: 0 140px 0 140px;
  width: calc(100% - 280px);
  height: 100%;
  background: #FFFFFF;
  padding-bottom: 200px;
}

.four__common {
  width: 1052px;
  height: 100%;
  margin: 0 auto;
}

.four__left {
  width: 100%;
  text-align: left;
  margin-bottom: 60px;
}

.four__heading {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #000000;
}

.four__text {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  margin: 0;
  margin-bottom: 30px;
  max-width: 460px;
  color: #000000;
}

.four__line {
  width: 134px;
  height: 4px;
  background-color: #FF2D2D;
  margin-left: 0px;
  margin-top: 34px;
  border-radius: 2px;
}

.four__box {
  width: 100%;
  display: flex;
  margin: 0 auto;
  align-items: stretch;
  height: 100%;
}

.four__right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.four__info__right {
  display: flex;
  flex-direction: column;
  align-self: start;
  justify-content: space-between;
  max-width: 662px;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  margin-left: 10px;
}

.four__chief__name {
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 32px;
  line-height: 0px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  color: #000000;
  margin-left: 10px;
}

.four__text__right {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  margin-top: 32px;
  color: #000000;
  width: 634px;
}

.four__photo__chief {
  flex-shrink: 0;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  align-self: start;
  object-fit: cover;
}

@supports (display: grid) and (display: contents) {
  .four__box {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
  }

  .four__right {
    display: contents;
  }
}

.four__photo__worker {
  display: flex;
  object-fit: cover;
}

.four__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}

.four__link {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.9px;
  color: #000000;
  text-decoration: none;
  margin-top: 100px;
  transition: .5s;
}

.four__link:hover {
  color: red;
}

.four__photos {
  display: flex;
  align-items: flex-end;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  cursor: pointer;
  list-style-type: none;
}

.four__photo {
  position: relative;
  margin-top: 34px;
}

.four__photo:not(:last-child) {
  margin-right: 16px;
}

.four__worker__name {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  visibility: hidden;
  color: #FFFFFF;
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  width: 100%;
  height: 38px;
  background-color: #000000;
}

.four__photo:hover>.four__worker__name {
  visibility: visible;
  opacity: 0.5;
}

/* медиа 4 секция */

@media screen and (max-width: 1335px) {

  .section__four {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin: 0 100px 0 100px;
    width: calc(100% - 200px);
    height: 100%;
    background: #FFFFFF;
    padding-top: 40px;
    padding-bottom: 200px;
  }

  .four__common {
    width: 807px;
    height: 100%;
    margin: 0 auto;
  }

  .four__box {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    flex-wrap: wrap;
    align-items: stretch;
    height: 100%px;
  }

  .four__info__right {
    margin-top: 30px;
  }
}

@media screen and (max-width: 1023px) {
  .section__four {
    margin: 0 40px 0 40px;
    width: calc(100% - 80px);
    height: 100%;
  }

  .four__photo__chief {
    height: 320px;
    width: 230px;
    object-fit: cover;
  }

  .four__link {
    padding-right: 20px;
  }

  .four__photos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    cursor: pointer;
    list-style-type: none;
    width: 700px;
    height: 222px;
    padding: 0;
    margin: 0;
  }

  .four__left {
    width: 670px;
  }

  .four__common {
    width: 670px;
    height: 100%;
  }

  .four__photo__worker {
    display: flex;
    height: 280px;
    width: 160px;
    object-fit: cover;
  }
}

@media screen and (max-width: 767px) {
  .section__four {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 10px 0 10px;
    width: calc(100% - 20px);
    height: 100%;
  }

  .four__photo__chief {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 462px;
    width: 300px;
    object-fit: cover;
    margin: 0 auto;
  }

  .four__box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .four__photos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    cursor: pointer;
    list-style-type: none;
    width: 360px;
    height: 100%;
    margin: 0 auto;
  }

  .four__chief__name {
    margin: 0 auto;
  }

  .four__text__right {
    width: 380px;
    text-align: center;
  }

  .four__text {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
  }

  .four__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 394px;
    justify-content: center;
    padding: 0;
  }

  .four__text__right {
    width: 380px;
    text-align: center;
    margin-top: 30px;
  }

  .four__line {
    margin: 0 auto;
  }

  .four__heading {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .four__photo__worker {
    width: 160px;
    height: 260px;
  }

  .four__common {
    width: 380px;
    margin: 0 auto;
    height: 100%;
  }

  .four__left {
    width: 380px;
  }

  .four__right {
    height: 100%;
  }
}

@media screen and (max-width: 424px) {

  .section__four {
    margin: 0 10px 0 10px;
    width: calc(100% - 20px);
    height: 100%;
  }

  .four__info__right {
    margin-top: 30px;
    width: 274px;
  }

  .four__text__right {
    width: 280px;
    text-align: center;
  }

  .four__list {
    width: 280px;
  }

  .four__photos {
    margin: 0 auto;
    width: 280px;
    height: 100%;
  }

  .four__photo__worker {
    width: 160px;
    height: 260px;
  }

  .four__common {
    width: 280px;
    height: 100%;
  }

  .four__left {
    width: 280px;
  }

  .four__heading {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 280px;
    text-align: center;
  }

  .four__text {
    width: 280px;
    text-align: center;
  }

  .four__text__right {
    width: 280px;
    text-align: center;
  }

  .four__chief__name {
    margin: 0 auto;
  }

  .four__photo__chief {
    width: 280px;
    margin: 0;
    padding: 0;
  }
}