@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

.root {
  margin-bottom: 500px;
  background: #F6F2F2;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 30px 165px 102px 165px;
  width: calc(100% - 330px);
  min-height: 88px;
  background: #000000;
  opacity: 0.8;
  border: 1px solid #000000;
}

.header__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.list__text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.link__text {
  display: flex;
  align-items: center;
  font-family: 'Open Sans';
  font-weight: 800;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.49px;
  text-transform: uppercase;
  color: #E0E0E0;
  padding: 38px 25px 27px 25px;
  text-decoration: none;
  transition: .1s;
}

.link__text:hover {
  background: #FF3F40;
  height: 100%;
}

.content {
  display: flex;
  justify-content: center;
  margin: 0 165px 0 165px;
  width: calc(100% - 330px);
  gap: 82px;
  background: #F6F2F2;
}

.content__video {
  width: 551px;
  height: 356px;
  margin-bottom: 220px;
}

.content__main__text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 1252px;
  min-height: 358px;
}

.heading {
  font-family: 'Open Sans';
  font-weight: 800;
  font-size: 60px;
  line-height: 72px;
  color: #000000;
  letter-spacing: 4px;
  text-transform: uppercase;
  max-width: 546px;
  padding: 0;
  margin: 0;
}

.main__text {
  font-family: 'Open Sans';
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  max-width: 540px;
  color: #000000;
  margin-top: 30px;
}

.content__button {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 227px;
  height: 55px;
  background: #FF2D2D;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  line-height: 34px;
  color: #FFFFFF;
  letter-spacing: 0.4px;
  transition: .3s;
  margin-top: 30px;
  margin-bottom: 220px;
}

.content__button:hover {
  opacity: .7;
}

.second {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 165px 0 165px;
  width: calc(100% - 330px);
  background: #FFFFFF;
}

.second__column {
  display: flex;
  flex-direction: column;
  margin-right: 102px;
}

.second__content {
  display: flex;
  max-width: 1252px;
  height: 588px;
  background: #FFFFFF;
  padding-top: 100px;
}

.second__heading {
  font-family: 'Open Sans';
  font-weight: 800;
  font-size: 40px;
  line-height: 54px;
  max-width: 523px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  margin: 0;
  color: #000000;
}

.second__text {
  font-family: 'Open Sans';
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  max-width: 539px;
  height: 98px;
  color: #000000;
  margin-top: 50px;
}

.second__button {
  box-sizing: border-box;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 18px;
  line-height: 34px;
  letter-spacing: 0.3px;
  width: 227px;
  height: 55px;
  background: rgba(0, 0, 0, 0.0001);
  border: 2px solid #FF0000;
  border-radius: 5px;
  color: #FF2D2D;
  margin-top: 78px;
  cursor: pointer;
}

.second__button:hover {
  background: rgb(179, 179, 179);
}

.png {
  width: 37px;
  height: 37px;
}

.second__common {
  width: 305px;
  height: 514px;
}

.second__heading text {
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 24px;
  line-height: 0px;
  letter-spacing: 0.2px;
  color: #000000;
  width: 184px;
  margin: 32px 0 5px 0;
}

.second__text__communis {
  font-family: 'Open Sans';
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #000000;
  width: 280px;
  margin-bottom: 50px;
}

.third__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 165px 0 165px;
  width: calc(100% - 330px);
  align-items: center;
  padding-top: 60px;
  height: 930px;
  background: #FFFFFF;
}

.third__heading {
  font-family: 'Open Sans';
  font-weight: 800;
  font-size: 42px;
  line-height: 0px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  margin-top: 140px;
  color: #000000;
}

.third__text {
  font-family: 'Open Sans';
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  width: 536.85px;
  height: 45px;
  text-align: center;
  color: #000000;
  margin: 28px auto 34px auto;
}

.line {
  width: 134px;
  height: 4px;
  background-color: #FF2D2D;
  margin: 0 auto;
  border-radius: 4px;
  margin-bottom: 86px;
}

.third__list {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  list-style-type: none;
  width: 922px;
  height: 24px;
  margin-bottom: 30px;
}

.third__link {
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 22px;
  line-height: 24px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  margin: 0 auto;
}

.third__link:hover {
  color: #FF2D2D;
}

.third__section__product {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 1080px;
  height: 520px;
  margin-bottom: 150px;
}

.image {
  width: 240px;
  height: 240px;
  margin: 5px;
  object-fit: cover;
}

.image:hover {
  cursor: pointer;
  height: 245px;
}

.section__four {
  margin: 0 165px 0 165px;
  width: calc(100% - 330px);
  background: #FFFFFF;
  padding-top: 40px;
  padding-bottom: 20px;
}

.four__left {
  width: 100%;
  text-align: left;
  margin-bottom: 60px;
}

.four__heading {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #000000;
}

.four__text {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  margin: 0;
  margin-bottom: 30px;
  max-width: 460px;
  color: #000000;
}

.four__line {
  width: 134px;
  height: 4px;
  background-color: #FF2D2D;
  margin-left: 0px;
  margin-top: 34px;
  border-radius: 2px;

}

.four__box {
  width: 100%;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  align-items: stretch;
  min-height: 462px;
}

.four__right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.four__info__right {
  position: relative;
  display: flex;
  flex-direction: column;
  align-self: start;
  justify-content: space-between;
  max-width: 662px;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}


.four__chief__name {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  font-size: 30.127px;
  line-height: 0px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  color: #000000;

}

.four__text__right {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 15.4px;
  line-height: 28px;
  margin-top: 32px;
  color: #000000;
  width: 634px;
}

.four__photo__chief {
  flex-shrink: 0;
  height: 440px;
  width: 300px;
  margin-right: 60px;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  align-self: start;
  object-fit: cover;
}

@supports (display: grid; ) and (display: contents; ) {
  .four__box {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
  }

  .four__right {
    display: contents;
  }
}

.four__photo__worker {
  display: flex;
  height: 200px;
  width: 150px;
  object-fit: cover;
}

.four__link {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.9px;
  color: #000000;
  text-decoration: none;
  margin-right: 30px;
}

.four__link:hover {
  text-decoration: underline;
}

.four__photos {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.four__photo {
  position: relative;
  margin-top: 34px;
}

.four__photo:not(:last-child) {
  margin-right: 18px;
}

.four__worker__name {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  visibility: hidden;
  color: #FFFFFF;
  position: absolute;
  bottom: 0;
  margin: 0;
  height: 38px;
  background-color: #000000;
  opacity: 0.5;
}

.four__photo:hover>.four__worker__name {
  visibility: visible;
}