@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700;800&display=swap');

.root {
  width: 100%;
  height: 100%;
  background: #F6F2F2;
  margin-bottom: 100px;
}

.page {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: 688px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 30px 165px 102px 165px;
  width: calc(100% - 330px);
  min-height: 88px;
  background: #000000;
  opacity: 0.8;
  border: 1px solid #000000;
}

.header__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.list__text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.link__text {
  display: flex;
  align-items: center;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.49px;
  text-transform: uppercase;
  color: #E0E0E0;
  padding: 38px 25px 27px 25px;
  text-decoration: none;
  transition: .1s;
}

.link__text:hover {
  background: #FF3F40;
  height: 100%;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 165px;
  width: calc(100% - 330px);
  height: 360px;
  max-width: 1254px;
}

.content__video {
  width: 551px;
  height: 356px;
  margin: 0;
}

.content__main__text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.heading {
  font-family: "Open Sans";
  font-weight: 800;
  font-size: 60px;
  line-height: 72px;
  color: #000000;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  max-width: 548px;
  padding: 0;
  margin: 0;
}

.main__text {
  font-family: 'Open Sans';
  font-size: 16px;
  line-height: 28px;
  width: 548px;
  max-height: 80px;
  color: #000000;
  margin-top: 36px;
}

.content__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 227px;
  height: 55px;
  background: #FF2D2D;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  line-height: 34px;
  color: #FFFFFF;
  letter-spacing: 0.4px;
  transition: .3s;
  margin-top: 78px;
}

.content__button:hover {
  opacity: .7;
}

.second {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 30px 165px 102px 165px;
  width: calc(100% - 330px);
  background: #FFFFFF;
  margin: 108px auto 0 auto;
}

.second__column {
  display: flex;
  flex-direction: column;
  margin-right: 102px;
}

.second__content {
  display: flex;
  width: 1252px;
  height: 588px;
  background: #FFFFFF;
  padding-top: 100px;
}

.second__heading {
  font-family: 'Open Sans';
  font-weight: 800;
  font-size: 42px;
  line-height: 56px;
  width: 523px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  margin: 0;
  color: #000000;
}

.second__text {
  font-family: 'Open Sans';
  font-size: 16px;
  line-height: 28px;
  width: 539px;
  height: 98px;
  color: #000000;
  margin-top: 50px;
}

.second__button {
  box-sizing: border-box;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 18px;
  line-height: 34px;
  letter-spacing: 0.3px;
  width: 227px;
  height: 55px;
  background: rgba(0, 0, 0, 0.0001);
  border: 2px solid #FF0000;
  border-radius: 5px;
  color: #FF2D2D;
  margin-top: 78px;
}

.png {
  width: 37px;
  height: 37px;
}

.second__common {
  width: 305px;
  height: 514px;
}


.second__heading text {
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 24px;
  line-height: 0px;
  letter-spacing: 0.2px;
  color: #000000;
  width: 184px;
  margin: 32px 0 5px 0;
}

.second__text__communis {
  font-family: 'Open Sans';
  font-size: 16px;
  line-height: 28px;
  color: #000000;
  width: 280px;
  margin-bottom: 50px;
}

.third__section {
  display: flex;
  flex-direction: column;
  padding-top: 220px;
  margin: 0 165px 0 165px;
  width: calc(100% - 330px);
  height: 930px;
  background: #FFFFFF;

}

.third__heading {
  font-family: 'Open Sans';
  font-weight: 800;
  font-size: 42px;
  line-height: 0px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  margin: 0 auto;
  color: #000000
}

.third__text {
  font-family: 'Open Sans';
  font-size: 16px;
  line-height: 28px;
  width: 536.85px;
  height: 45px;
  height: 536px;
  text-align: center;
  color: #000000;
  margin: 28px auto 107px auto;
}